version: '3.8'
services:
  db:
    image: postgres:16-alpine
    container_name: finance_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=finance_db
    port:
      - "5432":"5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: